<?xml version="1.0" encoding="utf-8"?>
<!--© Copyright IBM Corporation 2012-->
<?eclipse version="3.0"?><plugin id="com.ibm.omnibus.desktophelp.doc" name="Tivoli Netcool/OMNIbus Desktop ヘルプ"
        provider-name="IBM"
        version="7.3.1">
   <extension point="org.eclipse.help.toc">
      <toc file="omn_ua_usr_masterpri.xml" primary="true"/>
   </extension>
   <extension point="org.eclipse.help.index">
      <index file="omn_ua_usr_masterindex.xml"/>
   </extension>
</plugin>