.uploadInterfaceMain {
	overflow:hidden;
	left:0px;
	margin: 0px auto 0px;
}
.uploadInterfaceRegion {
	margin: 0px auto 0px;
}

.transferRegion {
	width: 95%;
}

.transferActionButton {
	border: 0px none;
}

.transferActionButtons {
	left:0px;
	margin: 15px auto 0px;
}

.transferHeader {
	font-size: large;
	font-weight: bold;
}

.transferInfo {
	margin: 10px auto 10px;
}

.transferInfoMsg {
	margin-top:8px;
	margin-bottom:0px;
}

.transferSmallMsg {
	margin-top: 5px;
	font-size: x-small;
}

.right {
	text-align: right;
	align: right;
}

.left {
	text-align: left;
	align: left;
}

.clear {
	clear: both;
}

.transferButton {
	padding: 2px;
	text-align: center;
	width: 100px;
	height: 95px;
	cursor: pointer;
	
	border: 2px solid;
	border-top-color:#DDDDDD;
	border-left-color:#DDDDDD;
	border-bottom-color:#999999;
	border-right-color:#999999;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.transferButtonSelected {	
	background-color: #CDE3FF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	padding: 2px;
	border: 2px solid;
	border-top-color:#555555;
	border-left-color:#555555;
	border-bottom-color:#CCCCCC;
	border-right-color:#CCCCCC;
}

.transferButton:hover {
	background-color: #BCD2EE;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.transferButtonDiv {
	width: 300px;
	margin: 0px auto 0px;
}

.transferButtonLeft {
	margin-left: 10px;
	float: left;
}

.transferButtonRight {
	margin-right: 10px;
	float: right;
}

.transferImg {
	width: 45px;
	height: 45px;
	margin: 0px auto 0px;
	text-align: center;	
}

.otherTransferImg {
	width: 45px;
	height: 45px;
	background: url('../../../../img/oc-rq.png') no-repeat center center;
}

.otherTransferImg {
	background: url('../../../../img/oc-rq.png') no-repeat center center;
}

.ibmTransferImg {
	background: url('../../../../img/oc-dc.png') no-repeat center center;
}

.ibmTransferContainer {
	width: 580px;
	margin: 8px auto 10px;
}

.ibmTextBoxDiv {
	margin: 5px auto 0px;
	width: 410px;
}

.ibmTransferRadioExt {
	width: 250px;
}

.ibmHTTPSTextBox {
	margin-top: 0px;
	width: 250px;
}

.ibmRadioDiv {
	
}

.ftpTextBoxDiv {
	margin: 5px auto 0px;
	width: 410px;
}

.ftpTextBox {
	margin-top: 5px;
	width: 264px;
}

.ibmTextBox {
	width: 250px;
}

.ftpTextBoxLabel {
    display: inline-block;
    vertical-align: middle;
	width: 140px;
}

.hideContainer {
	display: none;
}

.dijitTooltip {
	max-width: 200px;
	text-align: left;
}