<div class="ibm-container">
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved * Licensed Materials - Property of IBM -->
	<div id="inputDialogDivID_${id}" >
		<div dojotype="dijit.layout.BorderContainer" class="dijitBorderContainer" design="headline" gutters="false">
			<div dojoType="dijit.layout.ContentPane" region="left" style="padding:0px">
				<div class="inputDialogImage"> </div>
			</div>
			<div dojoType="dijit.layout.ContentPane" region="center" style="padding:0px">
				<div dojoType="dijit.form.Form" class="inputDialogForm">
					<div dojoAttachPoint="inputDialogElements"></div>
				</div>			
			</div>
			<div dojoType="dijit.layout.ContentPane" region="bottom" style="padding:0px;margin-top:4px;">
				<div dojoAttachPoint="controlsButton"></div>
			</div>
			
		</div>
<!--   
    <table class="InputDialogTable" id="inputDialogTableID">
    	<caption class="InputDialogTitle"> ${inputDialogTitle}</caption>
	    <tbody>
	      <tr>
		    <td> <div class="inputDialogImage"> <img dojoattachpoint="imageNode"> </div></td>
			<td>
			<div dojoType="dijit.form.Form" class="inputDialogForm">
			<div dojoAttachPoint="inputDialogElements"></div>			
			</div>
			</td>			
		  </tr>
	    </tbody>
      </table>

    <table border="0" style="width:100%" id="controlsTable">
	  <tbody>
		<tr>		    
			<td align="right" colspan="2">
			<div dojoAttachPoint="controlsButton"></div>
			</td>			
		</tr>
  	  </tbody>
    </table>
-->    
  </div>
</div>