<?xml version="1.0" encoding="utf-8"?>
<!--© Copyright IBM Corporation 2014-->
<?eclipse version="3.0"?><plugin id="com.ibm.omnibus.mibmgrhelp.doc" name="Netcool MIB Manager: Справка"
        provider-name="IBM"
        version="1.0">
   <extension point="org.eclipse.help.toc">
      <toc file="omn_ua_mibmgr_masterpri.xml" primary="true"/>
   </extension>
</plugin>