/*	$Id: popup.css,v 1.6 2009/01/22 20:47:23 florent Exp $ */
#ibm-popup,
#ibm-popup body {
	background:#FFF;
	color:#000;
}
html#ibm-popup body {padding:0px 1px 1px;}
#ibm-popup div#ibm-top {
	background-image:none;
	margin:0px;
	min-width:390px;
	padding:1px 0px 0px;
	width:auto;
}
* #ibm-popup #ibm-masthead {height:1%;}
#ibm-popup #ibm-masthead,
#ibm-popup #ibm-footer { 
	background:#000
		url("../../../../images/v16/t/template-gradient.gif")    
		repeat-x 0% 22%;
	clear:both;
	color:#CCC;
	width:auto;
}
#ibm-popup #ibm-footer {height:22px;}
#ibm-popup #ibm-footer li {
	padding-top:0px;
	height:0px;
	line-height:18px;
}
#ibm-popup #ibm-geo,
#ibm-popup #ibm-search-form,
#ibm-popup #ibm-site-name,
#ibm-popup #ibm-universal-nav,
#ibm-popup #ibm-navigation,
#ibm-popup #ibm-page-tools {display:none;}
#ibm-popup #ibm-logo {
	float:none;
	height:26px;
	margin:0px;
	width:54px;
}
#ibm-popup #ibm-masthead h1 {
	float:right;
	margin:-23px 0px 0px;
	padding:0px 10px;
	text-align:right;
}
#ibm-popup #ibm-top,
#ibm-popup #ibm-pcon,
#ibm-popup #ibm-content,
#ibm-popup #ibm-content-head,
#ibm-popup #ibm-content-body,
#ibm-popup #ibm-content-main,
#ibm-popup #ibm-content-sidebar {
	float:none;
	position:static;
}
#ibm-popup #ibm-pcon {
	margin:0px;
	padding:0px;
	width:auto;
}
#ibm-popup #ibm-content {padding:7px 0px 26px;}
#ibm-popup .ibm-media {padding:0px !important;}
#ibm-popup .ibm-media-alternate #ibm-masthead {border-bottom:1px solid #CCC;}
#ibm-popup .ibm-media-alternate #ibm-pcon {background:none !important;}
#ibm-popup .ibm-media-alternate #ibm-content {padding:0px !important;}
#ibm-popup #ibm-content-head {
	padding:0px 20px 10px;
	width:auto;
}
#ibm-popup #ibm-content-head h1 {
	margin:0px;
	padding:10px 0px 4px;
}
#ibm-popup #ibm-content-main {
	padding:0px 20px;
	width:auto;
}
#ibm-popup .ibm-media-alternate #ibm-content-main {padding:0px !important;}
#ibm-popup .ibm-media-alternate #ibm-content-main p {padding-left:20px !important; padding-right:20px !important;}
#ibm-popup .ibm-media-alternate #ibm-leadspace-container embed {float:left;}
#ibm-popup #ibm-content-body.ibm-alternate {width:750px;}
#ibm-popup #ibm-content-body.ibm-alternate #ibm-content-main {
	float:left;
	padding:0px 0px 0px 20px;
	width:530px;
}
#ibm-popup #ibm-content-sidebar {display:none;}
#ibm-popup #ibm-content-body.ibm-alternate #ibm-content-sidebar {
	display:block;
	margin-left:560px;
	padding:0px 20px 0px 0px;
}
* #ibm-popup #ibm-content-body.ibm-alternate #ibm-content-sidebar {padding-right:5px;}
#ibm-popup #ibm-footer .ibm-close-link {float:right;}
#ibm-popup .ibm-media-alternate #ibm-footer {border-top:1px solid #CCC;}
#ibm-metrics {
	height:0px;
	line-height:0px;
	margin:0px;
	padding:0px;
	width:0px;
}
