<?xml version="1.0" encoding="utf-8"?>
<!--© Copyright IBM Corporation 2008-->
<?eclipse version="3.0"?><plugin id="com.ibm.help.hs.doc" name="مشاهدة معلومات في نظام المساعدة"
        provider-name="IBM"
        version="3.4.1">
   <extension point="org.eclipse.help.toc">
      <toc file="iehs_helpsys.xml" primary="true"/>
   </extension>
</plugin>