<?xml version="1.0" encoding="utf-8"?>
<!--© Copyright IBM Corporation 2010-->
<?eclipse version="3.0"?><plugin id="com.ibm.iehs.doc" name="מסמך IBM Eclipse Help System" provider-name="IBM"
        version="3.6.1">
   <extension point="org.eclipse.help.toc">
      <toc file="iehs36_content.xml" primary="true"/>
   </extension>
   <extension point="org.eclipse.help.index">
      <index file="iehS36pluginindex.xml"/>
   </extension>
</plugin>