.isadc_mainView {
/* styles for the ProductSelection widget */
	background-color: #e7eef4;
	padding: 5px;
}

.collectionProgress {
/* styles for the Collection status */
	width: 200px;
}


.dojoxBusyButtonIcon {
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin-left: 4px;
	background-image: url('../ibm_com/images/v16/t/loading_wheel.gif');
	background-repeat: no-repeat;
}

.introClass{
 font-style:italic;
}

.hiddenInputClass{
 //visibility:hidden;
 display:none;
}