<div class="ibm-container">
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved * Licensed Materials - Property of IBM -->
	<h2 class="ibm-first">${AddFilesAndFolderTitleID}</h2>
	<div class="ibm-container-body">
		<p>${AddFilesAndFoldersIntroduction}</p>		
		<div dojoattachpoint="fileAndDirectoryBrowseArea" class="browseArea"></div>
		<div dojoattachpoint="addFilesAndFolderButton"></div>
		<div dojoattachpoint="selectedFilesArea" class="selectedArea"></div> 
		<div dojoattachpoint="okButtonArea"></div>
	</div>
</div>