<div class="ibm-container" id="collectionSummaryID">
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved * Licensed Materials - Property of IBM -->
	<h2 class="ibm-first">${SummaryTitleName}</h2>
	<div class="ibm-container-body">
		<p>
			<b>${PMRNumberID}</b>
		</p>
		<div dojoType="dijit.InlineEditBox" id="pmrNumberID" style="margin:0px 5px 5px">${PMRNumber}</div>
		<div class="ibm-rule"></div>
		<p>
			<b>${ProductNameID}</b>
		</p>
		<p id="productNameID">${ProductName}</p>
		<div class="ibm-rule"></div>
		<p>
			<b>${SymptomNameID}</b>
		</p>
		<p id="symptomNameID">${SymptomName}</p>
	</div>
</div>