<div class="CollectionCompletedDiv">
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved * Licensed Materials - Property of IBM -->
   <br />
    Your data collection has completed successfully. Some optional steps that you can now take are: 
   <br />
   <ul>
     <li> Add your own files and folders</li>
     <li> Add Screen shots</li>
     <li> Add your own descriptive notes</li>
      <li> Browse the collection archive <span dojoattachpoint="collectionArchiveLink"> </span></li>
   </ul>
   <br />
   When you are finished with any optional steps above, select the <b> Send</b> button to transfer the collection file to IBM 
   or to another  server
</div>