<div class="ibm-container" >
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved * Licensed Materials - Property of IBM -->
	<h2 class="ibm-first">${OptionalActionsTitleName}</h2>
	<div id="mainButtonContainer" class="ibm-container-body">
		<p>
			<button dojoType="dijit.form.Button" label="${AddTextID}" dojoAttachEvent="onClick:_addTextClicked" id="addTextButtonID" baseClass="isa-ibm-btn-add-sec"></button>
		</p>
		<p>
			<button dojoType="dijit.form.Button" label="Add Files" dojoAttachEvent="onClick:_addFilesClicked" id="addFilesButtonID" baseClass="isa-ibm-btn-add-sec"></button>
		</p>
		<p>
			<button dojoType="dijit.form.Button" label="Add Screenshots" dojoAttachEvent="onClick:_addScreenShotsClicked" id="addScreenShotsButtonID" baseClass="isa-ibm-btn-add-sec"></button>
		</p>
	</div>
</div>