<?xml version="1.0" encoding="utf-8"?>
<!--© Copyright IBM Corporation 2014-->
<?eclipse version="3.0"?><plugin id="com.ibm.omnibus.aenhelp.doc" name="Tivoli Netcool/OMNIbus AEN help"
        provider-name="IBM"
        version="8.1">
   <extension point="org.eclipse.help.toc">
      <toc file="omn_ua_aen_masterpri.xml" primary="true"/>
   </extension>
   <extension point="org.eclipse.help.index">
      <index file="omn_ua_aen_masterindex.xml"/>
   </extension>
</plugin>