<?xml version="1.0" encoding="utf-8"?>
<!--© Copyright IBM Corporation 2010-->
<?eclipse version="3.0"?><plugin id="com.ibm.iehs36.doc" name="ヘルプ・システムの情報の表示" provider-name="IBM"
        version="3.6.1">
   <extension point="org.eclipse.help.toc">
      <toc file="iehs36.xml" primary="true"/>
   </extension>
   <extension point="org.eclipse.help.index">
      <index file="iehs36_pluginindex.xml"/>
   </extension>
</plugin>