.browseArea,
.selectedArea,
.selectedScreenShotsArea
{
            border:1px solid #E0DFE3;            
            font-size:14px;
            font-family:Arial;
            width:98%;
            height:70px;
            margin: 2px 5px;
        }

.CollectionCompletedDiv{
  border: 1px solid blue;
  margin: 10px;
  font: 1.3em, sans-serif;
}
.editBoxAndImageName{
  align: right;
}
.CollectionAreaBottomClass{
  align: right;
}

.ExecutionAreaClass{
  border: 5px solid blue;
}

.InputDialogInactive{
  /*border: 2px solid green;*/
  background-color:white;
  /*width:95%;*/
}
.InputDialogActive{
  /*border: 2px solid orange;*/
  background-color:white;
  /*width:95%;*/
}
.StatusMessageClass{
  font: 1.3em, sans-serif;
}

.InputDialogTable{
  font-size:1.5em;
}
.ButtonControls{
  /*font-size:1.5em;*/
  margin:2px;
}
.dijitButtonNode {
border: 0 none;
}