@CHARSET "ISO-8859-1";
.CollectionSummaryTD{
  color: black;
  font-weight: bold;
}
.CollectionStatusTable{
  width:95%; 
  height:40px;
  font-size:1.4em;
}

.question, .progress, .success, .error, .warning{
padding:0px 0px 0px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}

.progress {
background-image:url('../images/progress.gif');
}
.success {
background-image: url('../images/success.gif');
}

.question {
background-image: url('../images/question.png');
}

.error {
background-image: url('../images/error.gif');
}

.warning {
background-image: url('../images/warning.png');
}

.dijitProgressBarFull .successBar{

    background:#DFF2BF  repeat-x center center;
}

.dijitProgressBarFull .errorBar{
    background:#FFBABA  repeat-x center center;
}

.dijitProgressBarFull .warningBar{
    background:#FEEFB3 repeat-x center center;
}

.isa-ibm-btn-add-sec, .isa-ibm-btn-arrow-pri,
.isa-ibm-btn-cancel-pri, .isa-ibm-btn-arrow-sec,
.isa-ibm-btn-refresh-sec, .isa-ibm-btn-cancel-sec,
.isa-ibm-btn-download-sec, .isa-ibm-btn-undo-sec
{
	color: #4C6E94;
	font-family:arial,sans-serif;
	font-size:1em;
	font-weight:bold;
	margin-right: 12px;
	height:30px;
}

.isa-ibm-btn-add-sec .dijitButtonNode, .isa-ibm-btn-arrow-pri .dijitButtonNode,
.isa-ibm-btn-cancel-pri .dijitButtonNode, .isa-ibm-btn-arrow-sec .dijitButtonNode,
.isa-ibm-btn-refresh-sec .dijitButtonNode, .isa-ibm-btn-cancel-sec .dijitButtonNode,
.isa-ibm-btn-download-sec .dijitButtonNode, .isa-ibm-btn-undo-sec .dijitButtonNode {
	height:30px;
}

.isa-ibm-btn-add-sec .dijitButtonContent, .isa-ibm-btn-arrow-pri .dijitButtonContent,
.isa-ibm-btn-cancel-pri .dijitButtonContent, .isa-ibm-btn-arrow-sec .dijitButtonContent,
.isa-ibm-btn-refresh-sec .dijitButtonContent, .isa-ibm-btn-cancel-sec .dijitButtonContent,
.isa-ibm-btn-download-sec .dijitButtonContent, .isa-ibm-btn-undo-sec .dijitButtonContent {
	position:relative;
	left:-6px;
	height:30px;
}
.isa-ibm-btn-add-sec .dijitButtonText, .isa-ibm-btn-arrow-pri .dijitButtonText,
.isa-ibm-btn-cancel-pri .dijitButtonText, .isa-ibm-btn-arrow-sec .dijitButtonText,
.isa-ibm-btn-refresh-sec .dijitButtonText, .isa-ibm-btn-cancel-sec .dijitButtonText,
.isa-ibm-btn-download-sec .dijitButtonText, .isa-ibm-btn-undo-sec .dijitButtonText {
	height:24px;
	text-indent:28px;
	padding: 6px 6px 0px 0px;
	vertical-align:middle;
}
.isa-ibm-btn-add-sec {
	background: url(../../../../ibm_com/images/v16/t/sprites-button.gif) no-repeat -2px -150px;
}
.isa-ibm-btn-add-sec:hover {
	color: #2A507B;
	background: url(../../../../ibm_com/images/v16/t/sprites-button.gif) no-repeat -2px 0;
}
.isa-ibm-btn-arrow-pri {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -450px transparent;
}
.isa-ibm-btn-arrow-pri:hover {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -300px transparent;
    color: #2A507B;
}
.isa-ibm-btn-arrow-priDisabled, .isa-ibm-btn-arrow-priDisabled:hover {
    background: url("../../../../ibm_com/images/v16/t/sprites-button-disabled.gif") no-repeat scroll -2px -600px transparent;
	cursor: default;
}
.isa-ibm-btn-arrow-sec {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -750px transparent;
}
.isa-ibm-btn-arrow-sec:hover {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -600px transparent;
    color: #2A507B;
}
.isa-ibm-btn-cancel-pri {
	background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -1350px transparent;
}
.isa-ibm-btn-cancel-pri:hover {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -1200px transparent;
    color: #2A507B;
}
.isa-ibm-btn-cancel-priDisabled,.isa-ibm-btn-cancel-priDisabled:hover {
	background: url("../../../../ibm_com/images/v16/t/sprites-button-disabled.gif") no-repeat scroll -2px -1500px transparent;
    cursor:default
}
.isa-ibm-btn-refresh-sec {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -5250px transparent;
}
.isa-ibm-btn-refresh-sec:hover {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -5100px transparent;
    color: #2A507B;
}
.isa-ibm-btn-cancel-sec {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -1650px transparent;
}
.isa-ibm-btn-cancel-sec:hover {
    background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -1500px transparent;
    color: #2A507B;
}
.isa-ibm-btn-download-sec {
	background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -3750px transparent;
}
.isa-ibm-btn-download-sec:hover {
	background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -3600px transparent;
    color: #2A507B;
}
.isa-ibm-btn-download-secDisabled,.isa-ibm-btn-download-secDisabled:hover {
	background: url("../../../../ibm_com/images/v16/t/sprites-button-disabled.gif") no-repeat scroll -2px -3600px transparent;
	cursor: default;
}
.isa-ibm-btn-undo-sec {
	background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -6000px transparent;
}
.isa-ibm-btn-undo-sec:hover {
	background: url("../../../../ibm_com/images/v16/t/sprites-button.gif") no-repeat scroll -2px -5850px transparent;
	color: #2A507B;
}

