<div class="AppletLoadedDiv">
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved Licensed Materials - Property of IBM -->  
  <div id="appletLoadingView" dojotype="dijit.layout.BorderContainer" class="dijitBorderContainer" 
	 design="sidebar" style="border:0px none;left:0px" gutters="false">

      <div dojoType="dijit.layout.ContentPane" region="top"  align="left" style="padding:0px;height:100px;left:0px" gutters="false">
          <div id="invalidPrereqsDiv" align="left"> </div> <br />
      </div>
  </div>
</div>
