<div class="InitiaAppletLoadedDiv">
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved * Licensed Materials - Property of IBM -->

  <div id="initialAppletLoadingView" dojotype="dijit.layout.BorderContainer" class="dijitBorderContainer" 
	 design="sidebar" style="height: 500px;border:0px none;left:0px" gutters="false">

      <div dojoType="dijit.layout.ContentPane" region="top"  align="left" style="padding:0px;height:100px;left:0px" gutters="false">
          <div id="initialLoaderInvalidPrereqsDiv" align="left"> </div> <br />
      </div>

      <div dojotype="dijit.layout.ContentPane" region="center" align="left" id="initialLoaderLoadingTextAndProgressBarDiv"
           style="padding:5px;margin:0px 10px 5px 0px;left:0px;border:1px solid #CCCCCC">        
          <div id="initialLoaderAppletLoadingText"> </div> <br />
          <div id="initialLoaderAppletProgressBar"> </div> <br />                
      </div>
  </div>
</div>