<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  (C) Copyright IBM Corp. 2010
  IBM Confidential
  OCO Source Materials

  The source code for this program is not published or otherwise
  divested of its trade secrets, irrespective of what has been
  deposited with the U.S. Copyright Office.
-->
<plugin>

   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/help/updater"
            base-name="/updater"
            >
      </resource>
      <resource
            alias="/updater"
            base-name="/updater"
            >
      </resource>
   </extension>
   
   <extension
         point="org.eclipse.equinox.http.registry.servlets">    
      <servlet
      		alias="/updater/UpdateServlet"
      		class="com.ibm.iehs.updater.servlet.UpdateServlet">
      </servlet>    
	   <servlet
            alias="/updater/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/updater">
	   </servlet>	   
   </extension>
   
   <extension
         point="org.eclipse.help.webapp.toolbarButton">
   		<button class="com.ibm.iehs.updater.data.UpdaterButton">
   		</button>
   </extension>
      
</plugin>
