<div class="isadc_mainView" dojoType="dijit.layout.ContentPane" align="left"> 	
<!-- (C) COPYRIGHT International Business Machines Corp., 2011. All Rights Reserved * Licensed Materials - Property of IBM -->
<table border="0" style="width:50%; length:300px" align="center">
	<tbody>
		<tr>
			<td>Some text here to explain what this page is about ....</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>	<div>
		<label for="productSelect" class="requiredField">Enter product name:</label><br/>
		<div dojoattachpoint="productSelections"> </div>
	</div>
			</td>
		</tr>
		<tr> 
		<td> </td>
		    <td> 	
	<button type="button" dojoType="dijit.form.Button" id="bNavProductSelection" dojoattachevent="onClick:_nextPanel">Next</button>
		    </td>
		</tr>
	</tbody>
</table>

</div>
	